body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  background-repeat: no-repeat;
  background-size: cover;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.b-card{
margin: 20px;

}
.b-card-image{
  border-radius: 10px;
  width:300px;
  height:320px;
  box-shadow: 0px 0px, 3px,1px #ccc;
}
.b-card-info{
  min-height: 100px;
  margin: 0px;
}
.b-card-title{
  font-size: 24px;
  margin: 0px;
}
.b-card-sub-title{
  font-size: 16px;
  margin: 0px;
}
.success-msg{
  color: #57a773;
  padding: 10px, 15px;
}
.err-msg{
  color: #ee6652;
  padding: 10px, 15px;
}
/* .bg-image{
  background-image: url("https://images.unsplash.com/photo-1533510254023-d46afc1dd630?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2982&q=80");
  background-size: cover;
  background-position: no-repeat;
} */